{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
    <h2>Create Sales Agent</h2>
    <form method="post">
        {% csrf_token %}
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname" required><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="mobile_number">Mobile Number:</label><br>
        <input type="text" id="mobile_number" name="mobile_number" required><br>
        
        <label for="location">Location:</label><br>
        <select id="location" name="location">
            <option value="Hyderabad">Hyderabad</option>
            <option value="Chennai">Chennai</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Mumbai">Mumbai</option>
        </select><br>
        
        <button type="submit">Submit</button>
    </form>
{% endblock content %}